@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
// // <uniquifier>: Use a unique and descriptive class name
// // <weight>: Use a value from 100 to 900
// .noto-sans-<uniquifier> {
//   font-family: "Noto Sans", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
//   font-variation-settings:
//     "wdth" 100;
// }

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  color: #2b2b2b;
  overflow: hidden;
}

:root {
  --main-col: #6AC65B;
  // --main-deep: #1f7611;
  --main-deep: 31, 118, 17;
  // background-color: #6AC65B;
  // background-color: #7ce959;
  // --MUD-col: wheat;
  // --MUP-col: azure;
  // --MUDT-col: beige;
  // --MUA-col: blanchedalmond;
  // --BAUS-col: aliceblue;
  --MUD-col: rgb(215, 244, 212);
  --MUP-col: rgb(250, 225, 207);
  --MUDT-col: rgb(202, 233, 250);
  --MUA-col: rgb(251, 235, 188);
  --BAUS-col: rgb(223, 218, 250);
}

.MUD {
  background-color: var(--MUD-col);
}
.MUP {
  background-color: var(--MUP-col);
}
.MUDT {
  background-color: var(--MUDT-col);
}
.MUA {
  background-color: var(--MUA-col);
}
.BAUS {
  background-color: var(--BAUS-col);
}
.other {
  background: linear-gradient(45deg, var(--color-bg1), var(--color-bg2));
}
.other-g {
  background: linear-gradient(45deg, var(--color-bg1), var(--color-bg2));
}
.MUD-g {
  background: linear-gradient(var(--MUD-col), rgb(255,255,255));
}
.MUP-g {
  background: linear-gradient(var(--MUP-col), rgb(255,255,255));
}
.MUDT-g {
  background: linear-gradient(var(--MUDT-col), rgb(255,255,255));
}
.MUA-g {
  background: linear-gradient(var(--MUA-col), rgb(255,255,255));
}
.BAUS-g {
  background: linear-gradient(var(--BAUS-col), rgb(255,255,255));

}

.noselect {
  user-select: none;
}
.layerover {
  z-index: 10;
}
.layertop {
  z-index: 4;
}
.layersecond {
  z-index: 3;
}
.layerthird {
  z-index: 2;
}
.layerfourth {
  z-index: 1;
}
.customCursor {
  cursor: crosshair;
}
.highlight:hover {
  background-color: var(--main-col);
  font-stretch: expanded;
}
.hightlight-text-deco:hover {
  text-decoration: line-through;
  transform: scale(1.1);
}

@keyframes fade {
  0% {opacity: 1; }
  100% {opacity: 0;}
}
#loader{
  perspective: 500px;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  -ms-perspective: 500px;
  position: fixed;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  // background-color: black;
  // color: #7ce959;
  background-color: var(--main-col);
  // background-color: rgba(var(--main-deep), 1);
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}
@keyframes spin {
  0%, 15% { transform: rotateX(0deg); }
  70%, 100% { transform: rotateX(720deg); }
}

$width: 18px;
.panel {
  position: relative;
  width: $width;
  height: 36px;
  overflow: hidden;
  font-stretch: 105%;
  letter-spacing: 5px;
  padding: 0;
  margin: 0;
  display: inline-block;
  animation: spin 2s var(--delay) infinite ease-in-out alternate;
}
.panel::before {
  position: absolute;
  left: var(--left);
  content: 'HKU DUPAD HKU DUPAD';
  font-size: 28px;
  font-weight: bolder;
  width: max-content;
}
@for $i from 0 to 24 {
  .panel:nth-child(#{$i + 1}) {
    --left: #{$width * $i * -1};
    --delay: #{$i * 0.05s};
  }
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-bg1: rgb(214, 241, 252);
  --color-bg2: rgb(229, 254, 210);
  // --color1: 215, 244, 212;
  // --color2: 250, 225, 207;
  // --color3: 202, 233, 250;
  // --color4: 251, 235, 188;
  // --color5: 223, 218, 250;
  --color1: 200, 247, 195;
  --color2: 250, 212, 185;
  --color3: 184, 229, 252;
  --color4: 250, 229, 167;
  --color5: 203, 194, 252;
  --color-interactive: 124, 233, 89;
  --circle-size: 80%;
  --blending: hard-light;
}
@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-15%);
  }
  50% {
    transform: translateX(50%) translateY(15%);
  }
  100% {
    transform: translateX(-50%) translateY(-15%);
  }
}
.gradient {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -10;
  overflow: hidden;
  background: linear-gradient(-180deg, var(--color-bg1), var(--color-bg2));
}
svg {
  display: none;
}
.gradient-container {
  filter: url(#goo) blur(10px);
  // -webkit-filter: url(#goo) blur(50px);
  width: 100%;
  height: 100%;
}
.g1 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  opacity: 0.8;
  transform-origin: center center;
  animation: moveVertical 35s ease infinite;
}
.g2 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  opacity: 0.7;
  transform-origin: calc(50% - 300px);
  animation: moveInCircle 30s reverse infinite;
}
.g3 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2 + 200px);
  left: calc(50% - var(--circle-size) / 2 - 300px);
  transform-origin: calc(50% + 300px);
  animation: moveInCircle 25s linear infinite;
  opacity: 0.8;
}
.g4 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 40s ease infinite;
  opacity: 0.7;
}
.g5 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: calc(var(--circle-size) * 2);
  height: calc(var(--circle-size) * 2);
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size));
  transform-origin: calc(50% - 800px) calc(50% + 300px);
  animation: moveInCircle 25s ease infinite;
  opacity: 0.8;
}
.interactive {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  opacity: 0.7;
}

#root {
  height: 100vh;
  width: 100vw;
  z-index: 0;
  overflow: hidden;
}

#blocker {
  margin: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  // background-color: rgba(0,0,0,0.7);
  // background-color: rgba(106, 198, 91, 0.5);
  background-color: rgba(var(--main-deep), 0.5);
  filter: grayscale(30%);
  visibility: hidden;
  overflow: hidden;
  color: white;
  font-optical-sizing: auto;
}
#instructions {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#instruction * {
  max-width: 60%;
}
#instructions > div:nth-of-type(1) {
  font-size: 2em;
}
#instructions > div:nth-of-type(2) {
  font-size: 5em;
  font-weight: bold;
  margin: 0 0 0.75em 0;
  line-height: 125%;
}
#instructions #enter {
  font-size: 1.5em;
  // font-weight: 600;
  border-bottom: solid 2px white;
}
#instructions #info {
  margin-bottom: 30px;
}

.top-wrapper {
  position: fixed;
  top: 0;
  // left: 0;
  // width: 100vw;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: nowrap;
  // justify-content: space-between;
  max-width: 30vw;
}
.logo {
  padding: 1.25em;
  position: fixed;
  top: 0;
  left: 0;
  width: 15vw;
  transition: transform 0.3s ease-in-out;
}
.logo img {
  max-width: 100%;
  max-height: 100%;
}
.logo:hover {
  transform: scale(1.03);
}
.nav {
  max-width: max-content;
  padding: 1.25em;
  position: fixed;
  top: 0;
  right: 0;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  height: fit-content;
}
.nav > div {
  padding-left: 1.5em;
  transition: transform 0.3s ease-in-out;
}

#about-page {
  // color: white;
  // background-color: rgb(var(--main-deep));
  // background-color: var(--main-col);
  background: linear-gradient(45deg, var(--color-bg1), var(--color-bg2));
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 17px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  -ms-transform: translateY(-100vh);
  transform: translateY(-100vh);
}
#about-page > div:nth-of-type(1){
  margin-top: 50px !important;
}
#about-page > div:nth-last-of-type(1){
  margin-bottom: 200px !important;
}
#about-page > div {
  width: 65%;
  margin: 25px 0 25px 0;
}
#about-page > div * {
  margin: 15px;
  font-weight: 300;
}
#about-page .about-1 {
  opacity: 0.5;
  font-size: 2em;
}
#about-page .about-2 {
  font-size: 3.5em;
  text-transform: uppercase;
  line-height: 95%;
  font-weight: lighter;
  font-stretch: semi-expanded;
  word-break: break-all;
  hyphens: manual;
  -ms-hyphens: manual;
  -moz-hyphens: manual;
  -webkit-hyphens: manual;
}
#about-page .about-3 {
  font-size: 22px;
  margin-top: 25px;
  max-width: 90%;
  font-weight: 200;
}
#about-page a {
  // color: #fff;
  color: #2b2b2b;
  text-decoration: none;
  font-size: 14px;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 80%;
}

#projectDetail {
  visibility: hidden;
  // background-color: var(--main-col);
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0.25em 0.25em 1.25em 1.25em;
  padding: 0.5em 0.75em 0.5em 0.75em;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 500;
}
#projectDetail * {
  // background-color: rgba(0,0,0,0.5);
  padding: 0.25em;
  width: 240px;
}
#projectDetail > div:nth-of-type(even){
  font-stretch:semi-expanded;
}
#projectDetail > div:nth-of-type(odd){
  opacity: 0.6;
}
#projectDetail > div:nth-of-type(3n){
  font-size: 0.85em;
}

.backicon {
  display: block;
  width: fit-content;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.25em 1.25em 1.25em 0.25em;
  font-weight: 500;
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out, visibility 1s ease-in-out;
  visibility: hidden;
}
#projectDiv {
  position: absolute;
  top: 0;
  height: 0;
  width: 100%;
  height: 100%;
  padding-left: 17px;
  background-color: rgba(255, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  // visibility: hidden;
  overflow-y: scroll !important;
  overflow-x: hidden;
  -ms-transform: translateY(-100vh);
  transform: translateY(-100vh);
}
#projectDiv > div {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  margin-right: 5.75em;
  width: 70%;
}
.project-heroImg {
  max-height: 90vh;
}
.project-heroImg img {
  max-width: 100%;
  max-height: 100%;
}
.project-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project-img img {
  max-width: 49%;
}
.project-title *{
  line-height: 95%;
}
.project-title h2 {
  margin: 0;
  font-size: 3em;
  font-weight: 300;
  opacity: 0.5;
  max-width: 75%;
}
.project-title h1 {
  margin: 0.1em 0 0.2em 0;
  max-width: 100%;
  font-size: 6em;
  font-weight: lighter;
  text-transform: uppercase;
  word-break: break-all;
  hyphens: manual;
  -ms-hyphens: manual;
  -moz-hyphens: manual;
  -webkit-hyphens: manual;
}
.project-description div {
  max-width: 95%;
  font-size: 2em;
  font-weight: 200;
  line-height: 125%;
}
.project-video {
  position: relative;
  overflow: hidden;
  width: 100%;
  // padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  padding-top: 43.75%;
}
.project-video > iframe {
  border-style: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.project-footer {
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
}
.project-footer a {
  color: #2b2b2b;
  margin: 0.25em;
  width: fit-content;
}
.image-viewer {
  margin: 0;
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
}
.image-viewer img {
  max-height: 90%;
  object-fit: contain;
  padding: 15px;
}
@keyframes zoom {
  0% {transform:scale(0); opacity: 0;} 
  100% {transform:scale(1); opacity: 1;}
}
@keyframes zoomOut {
  0% {transform:scale(1); opacity: 1;} 
  100% {transform:scale(0); opacity: 0;}
}

.side-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
#listOfWorks {
  visibility: hidden;
  // position: absolute;
  // right: 0;
  height: fit-content;
  writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  padding: 0.75em 0.25em 0.75em 0.5em;
  border-radius: 10px 0 0 10px;
  font-weight: 600;
  background-color: var(--main-col);
  // color: #fff;
}
#works-list {
  width: 400px;
  height: 100%;
  padding: 1.25em 0 1.25em 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--main-col);
}
#works-list div {
  max-width: 100%;
  padding: 2em 2.5em 2em 2em;
}
#works-list > div > li:nth-of-type(3n-2){
  font-weight: bolder;
  font-stretch: expanded;
}
#works-list > div > li:nth-of-type(3n){
  margin-bottom: 0.75em;
  opacity: 0.5;
  font-size: 0.8em;
}
#works-list > div > li:nth-last-of-type(1){
  margin-bottom: 3em;
}
#works-list > div:nth-of-type(1) {
  padding-top: 60px;
}
#works-list > div:nth-last-of-type(1){
  padding-bottom: 200px;
}
#works-list > div > li {
  text-transform: uppercase;
}
#works-list > div > h1{
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: 300;
  opacity: 0.5;
}
#works-list > div > li {
  list-style: none;
}


@media screen and (min-width: 512px) and (max-width: 1200px) {
  #instructions * {
    max-width: 85%;
  }
  .logo {
    width: 180px;
  }
  #projectDiv {
    align-items: center;
  }
  #projectDiv > div {
    width: 85%;
    margin-right: 1em;
  }
  .project-img img {
    max-width: 75%;
    margin-bottom: 1.25em;
  }
  .project-title {
    padding-top: 5em;
  }
  .project-title h2 {
    font-size: 2em;
  }
  .project-title h1 {
    font-size: 4em;
  }
  .project-description div {
    font-size: 1.75em;
  }
}
@media only screen and (max-width: 512px) {
  //lodaertext
  .panel {
    // border: solid 1px white;
    font-stretch: 110%;
    letter-spacing: 4px;
  }
  #instructions * {
    max-width: 80%;
  }
  #instructions > div:nth-of-type(1) {
    font-size: 1.25em;
  }
  #instructions > div:nth-of-type(2) {
    font-size: 2.75em;
  }
  #instructions #enter {
    font-size: 1.15em;
    font-weight: 600;
  }
  #instructions #info {
    font-size: 0.95em;
  }
  .logo {
    width: 30vw;
    padding: 1em 0.5em 0.5em 0.5em;
  }
  .nav {
    padding: 1em 0.5em 0.5em 0.5em;
  }
  .nav > div {
    padding-left: 0.6em;
  }

  .backicon {
    margin: 0.5em;
  }
  #projectDetail {
    margin: 0.5em 0.5em 1em 0.5em;
  }
  #projectDetail * {
    width: 300px;
  }
  #about-page > div {
    width: 90%;
    padding-right: 1.75em;
  }
  #about-page > div:nth-of-type(1){
    margin-top: 70px !important;
  }
  #projectDiv {
    align-items: center;
  }
  #projectDiv > div {
    width: 85%;
    margin-right: 1.75em;
  }
  .project-img img {
    max-width: 75%;
    margin-bottom: 1.25em;
  }
  .project-title {
    padding-top: 3.5em;
  }
  .project-title h2 {
    font-size: 1.75em;
    max-width: 90%;
  }
  .project-title h1 {
    font-size: 3.25em;
  }
  .project-description div {
    font-size: 1.5em;
  }
  .project-footer {
    padding-bottom: 200px;
  }
  .image-viewer img {
    max-width: 90%;
    max-height: auto;
    object-position: 50% 50%;
  }
  #works-list {
    width: 65vw;
  }
}
